.logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-image: url("https://lh3.googleusercontent.com/chat_attachment/AP1Ws4utYJ-wxEwDnOWrbBGUxAaJDd2uyZ47B53gbJcD7smHzjJFT_8u1ooIpXBh6vSzWdn2-3cnmD9_LuFj6ODy6QCSUZtQI0sV2axRSjA2D_WvF0JVJQ7EcKH4HW9b9OHXxeJir-jxTAaBmtWM8ppdV9h1BGN-dyaCrBZs642pBAkAwMAFsRVBTNN0kWsGaZdL4qBy8-deaY07GN7DwmRT1GkgcwkrrmqZQ8xhtOKvjaleBYUN6AWQZr-YHX4Ktl8OIn4yT60l8ibw-6BDSvVbn3Dp2IW_WJtNMxYUwUbesfvvfGJznZ5Sp3QtlJL2_vrvzpo=w1920-h912-rw");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(185, 185, 185);
}
.cabecalho {
  background-color: #055206;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.cabecalho h1{
    margin: 0;
}

.btn-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/4900/4900132.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}
.btn-imgg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-image: url("https://cdn-icons-png.flaticon.com/512/5582/5582872.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}
.text-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex; /* Organiza os botões lado a lado */
    gap: 15px; /* Espaçamento entre os botões */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    justify-content: center;
}
.btn-cadastro{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

}