* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background-color: rgb(248, 240, 230);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
header {
  background: #1e6b2f;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo img {
    width: 60px;   /* AQUI você muda o tamanho */
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.3);
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* MAIN */
.container {
  display: flex;
  padding: 50px;
  gap: 50px;
}

.left {
  width: 50%;
}

.left h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.left hr {
  width: 60%;
  margin: 10px 0 20px;
}

.left p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* IMAGENS */
.right {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.card {
  border-radius: 25px;
  overflow: hidden;
  height: 170px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  background: #1e6b2f;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  padding: 1rem;
  position: sticky;
  top: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima da tela */
}

.conteudo-principal {
  flex: 1; /* Faz o conteúdo crescer e empurrar o footer */
}

/* Responsivo */
    @media (max-width: 820px){
      .hero{grid-template-columns: 1fr;}

    }

    /*responsitividade*/

    @media (max-width: 1024px){
      h1{
        font-size: 70px;
      }

      .intro-container{
        flex-wrap: wrap;
        text-align: center;
      }

      .img-rnb-era img{
        width: 420px;
        height: 420px;
      }

      .texto-rnb{
        font-size: 16px;
      }

      .menu a{
        padding: 6px 10px;
        font-size: 14px;
      }

      .logo img{
        width: 80px;
        height: 80px;
      }
    }