* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/* FUNDO */
body {
    background-color: #e7ddc8;
}

/* HEADER */
header {
    background-color: #1f4d2b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img {
    border-radius: 50%;
}

/* BOTÕES */
.menu {
    display: inline-block;
    margin-left: 15px;
}

.menu span {
    border: 1px solid white;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.menu span:hover {
    background-color: white;
    color: #1f4d2b;
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

/* LADO ESQUERDO */
.left {
    width: 45%;
}

.left h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.left hr {
    margin: 15px 0;
    border: 1px solid #aaa;
    width: 80%;
}

.left p {
    margin-bottom: 15px;
    line-height: 1.5;
    color: #333;
}

/* LADO DIREITO (IMAGENS) */
.right {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
    background-color: #1f4d2b;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    margin-top: 40px;
}

footer div {
    font-size: 14px;
}